/*BG:  #121212*/
/*RED: #C80000*/
/*LINK: #4BC3FF*/

a{
    color: #4BC3FF;
    text-decoration: none;
}
a:visited{
    /*color:inherit;*/
    text-decoration: none;
}
a:active{
    /*color:inherit;*/
    text-decoration: none;
}
a:hover{
    /*color:inherit;*/
    color: white;
    text-decoration: none;
}

.link-unlock{
    font-weight: bold;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: monospace;
    /*font-size: 14px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: 500;*/
    /*line-height: 16px;*/
}

body {

    background-color: #121212;
    color: white;

    display:flex;
    flex-direction: column;

    align-items: center;
}


footer{
    height: 45px;
    font-size: 16px;
    font-weight: bold;

    position:fixed;
    bottom: 0;

    width:100%;
    background-color: #C80000;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}

header{

    font-size: 20px;
    font-weight: bold;

    height: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;

    text-align: center;
}

.prompt{
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
}


.main{
    padding-bottom: 45px;
}

.colour-healthy{
    color: green;
}
.colour-infected{
    color: yellow;
}
.colour-dead{
    color: #C80000;
}
.colour-link{

}

/*INFO BAR*/
.info-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding: 20px 10px;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top:30px;
    margin-bottom: 50px;
}
.statistics{
    line-height: 20px;
    color: #C80000;
    font-size: 12px;
}
.info-me{
    font-size: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding-right: 10px;
}
.info-me-status{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-end;*/
    /*align-items: center;*/

}

.info-me-status-status{
    font-weight: bold;
    font-size: 14px;
}


.info-main{

    /*padding: 10px;*/
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;


    text-align: center;
}

.graph{


    height: 60vw;
    /*background-color: #202020;*/
    margin-bottom: 80px;
}


/*Leaderboard*/
.leaderboard{
    display: flex;
    flex-direction: column;;
    align-items: stretch;


    padding-left:10px;
    padding-right: 10px;


    padding-bottom: 50px;


}
.leaderboard-title{
    text-align: center;
    font-size: 20px;
}
.leaderboard-list{
    display: flex;
    flex-direction: column;;
    align-items: stretch;

    font-size: 16px;

    padding-top:10px;
}
.leaderboard-item{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}



.unlock{
    padding-left: 10px;
    padding-right: 10px;

    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    text-align: center;

    /*background-color:orange;*/
    padding-bottom: 50px;
    font-weight: bold;

}

.my-data{
    padding-bottom: 50px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: stretch;*/
}

.data-me{
    padding-top:25px;
    padding-bottom: 25px;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;
}

.me-subtext{
    font-size: 14px;
    line-height: 20px;
}

.status-me{
    font-size: 24px;
    font-weight: bold;
    line-height:30px
}
.strain-me{
    font-size: 18px;
    line-height:30px;
    padding-bottom: 70px;
}

.status-details {
    padding-left:15px;
    padding-right:15px;
    font-size: 16px;
    text-align: center;

    padding-bottom: 70px;
}

/*info-main*/

.infected-by{
    font-size: 14px;

    align-items: center;
    align-content: center;
    justify-content: center;

    display: flex;
    flex-direction: column;


    padding-bottom: 70px;
}
.infected-by-address{
    font-size: 16px;
}


.infector{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding-bottom:70px
}

.input-infect{
    margin-top:10px;
    margin-bottom: 10px;
    /*color:black;*/
    width:90vw;
    background-color: #303030;
    height:30px;
    border-radius: 15px;
    border: none;

    text-align: center;
}
.input-infect::placeholder{
    color: rgba(255,255,255,0.5);
}
.input-infect:focus{
    background-color: white;
}
.input-infect:focus::placeholder{
    color:rgba(0,0,0,0.5);
}
.input-infect:active{
    background-color: white;
}




.graph{
    height: 100vw;

    font-size: 10px;
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    justify-content: center;
}
.graph-canvas{
    outline: white 1px solid;
    position:relative;
    /*display: block;*/
    top:0;
    right:0;
}
.graph-labels-y{
    position:relative;
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    /*height:100px;*/
    /*background-color: orange;*/
    justify-content: space-between;

    padding-right:5px;
}
.graph-labels-x{
    /*background-color: blue;*/
    /*position:relative;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom:0;
    right:0;
}


.label-yAxis{
    writing-mode: sideways-lr;
    text-orientation: mixed;
}
.label-y{
    display: block;
    /*position: relative;*/
}

/*Tablet*/
@media (min-width: 600px) {

}

/*Real computer*/
@media (min-width: 768px) {

}
